@import "./Variables.scss";

.track {
  background: lightgray;
  padding: 10px;

  &:first-child {
    border-top-left-radius: 8px;
    border-left: solid 0.5px $light-grey;
    border-top: solid 0.5px $light-grey;
  }
  &:last-child {
    border-top-right-radius: 8px;
    border-left: solid 0.5px $light-grey;
    border-top: solid 0.5px $light-grey;
    border-right: solid 0.5px $light-grey;
  }
  &:hover {
    cursor: pointer;
  }

  &:not(:first-child):not(:last-child) {
    border-left: solid 0.5px $light-grey;
    border-top: solid 0.5px $light-grey;
  }

  &:focus {
    border-bottom: solid 1px white !important;
    margin-bottom: -1px;
    background-color: white;
  }
}
